.idea/
data/
src/pdf_to_image.egg-info/
src/pdf-to-image/__pycache__/__main__.cpython-36.pyc
src/pdf-to-image/__pycache__/__init__.cpython-36.pyc
src/pdf-to-image/__pycache__/
venv/
src/pdf-to-image/keys.py
scratchpad.py
.Rhistory
.RData
.Rproj.user/
*.Rproj
scratchpad3.py
scratchpad2.py
test.pdf
test.csv
src/wb_poc/keyword_constants/__pycache__/
src/wb_poc/__pycache__/
src/wb_poc.egg-info/
kusheshwar_booth_2019.csv
scratchpad4.py
